{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">      <!--form表单可以将数据进行提交，方法是method-->
        <table>
            <tbody>
                <tr>
                    <td>书名</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>作者</td>
                    <td><input type="text" name="author"></td>
                </tr>
                <tr>
                    <td>价格</td>
                    <td><input type="text" name="price"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="提交"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}