{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/photos.css') }}">
{% endblock %}

{% block main %}
    <p><b>这些是本人收集的一部分海贼图片，亮出来给大家看看，觉得好看的可以收藏哦（嘿嘿嘿）</b></p>
    <p><b><i>未完待续哦……</i></b></p>
    <img src="{{ url_for('static',filename = 'images/3.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/1.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/2.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/4.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/5.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/6.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/7.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/8.jpg') }}" alt="" class="photos">
    <img src="{{ url_for('static',filename = 'images/9.jpg') }}" alt="" class="photos">
{% endblock %}