{% extends 'base.html' %}

{% block title %}个人中心{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
    <p>本人只是一名单纯的海米，喜欢海贼王中的热血，友情，还有各地的冒险</p>
    <p>
        现如今海贼王的更新速度也是令人咋舌，一周一次还不说，那日本还经常开些什么鬼马拉松，多大的点地方啊，天天开有意思吗？
        不仅如此，最新一集在爱奇艺上还要会员（流泪），这让人我这穷书生咋办哦，我可不想等，我想每周定时开机继续海贼生活（大笑），
    </p>
    <p>
        这不，最近我这穷书生找到了宝（哈哈大笑），你们每周还在为看不到海贼王而苦恼吗？还在为各地借会员而没有结果吗？
    </p>
    <p><b><i>在这里你将每周定时看到海贼的世界！</i></b></p>
    <p>点击下方链接，赶快开始出海吧！！！</p>
    <a href="https://pan.baidu.com/s/1nSHdnO74EgWPG_MFKz06yA">https://pan.baidu.com/s/1nSHdnO74EgWPG_MFKz06yA</a>
    <p>密码: 7jtp</p>
    <p>BT种子解析教程</p>
    <a href="https://mp.weixin.qq.com/s/lWtFECh3HBc3dauilE2TRw">https://mp.weixin.qq.com/s/lWtFECh3HBc3dauilE2TRw</a>
    <p>觉得不错的可以为我点赞哦，多在吐槽专区内发点帖子哦（嘿嘿嘿）</p>
{#    <img src="{{ url_for('static',filename='images/expression1.jpg') }}" alt="">#}
    <img src="{{ url_for('static',filename='images/expression2.jpg') }}" alt="">
    <img src="{{ url_for('static',filename='images/expression3.jpg') }}" alt="">
{% endblock %}